
.layout__flex{
	display: flex;
	&.filltrue{
		height:100%;
		width:100%;
	}
	&.row{
		flex-direction:row;
	}
	&.column{
		flex-direction:column;
	}
	&.aligncenter{
		align-items:center;
	}
	&.alignstart{
		align-items:flex-start;
	}
	&.alignend{
		align-items:flex-end;
	}
	&.justifycenter{
		justify-content:center;
	}
	&.justifystart{
		justify-content:flex-start;
	}
	&.justifyend{
		justify-content:flex-end;
	}	
}

