@import 'styles/index.scss';


.interactions__textinput{
	position: relative;
	input{
		background:transparent;
		padding:5px 10px 5px 12px;
		width:100%;
		border: none;
		border-bottom: 2px solid $primary;	
		color: $primary;	
		&::placeholder{
			opacity:0.5;
			color: $primary;	
		}
		&:focus{
			outline:none;
		}
	}
	&.hasFocus{
		input{
			padding-left:10px;
			border-left: 2px solid $primary;
		}
	}
	&.secondary{
		input{
			&::placeholder{
				opacity:0.5;
				color: $inverse;	
			}
			border-bottom: 2px solid $inverse;
			border-left: 0px solid $inverse;	
			color:$inverse;
		}
		&.hasFocus{
			input{
				border-left: 2px solid $inverse;
			}
		}
	}
}