@import 'styles/index.scss';

.home{	
	position: relative;
	width:100%;
	height:100vh;
	background:#333;
}
.box{
	transition: all 0.05s linear;
	width:10px;
	height:10px;
	background:black;
	position: absolute;
	top:0;
	left:0;
}
.headerContainer{
	/* background:black; */
	/* padding:10px; */
}
.players{

}
.tooSmall{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:black;
	color:white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	text-align: center;
}
.qr{
	position: fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.code{
	letter-spacing: 0.4px;
	font-size: 30px;
	color:#a6a6a6;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	top:20px;
	text-align: center;
	width: 100%;
	color:#f7f7f7;
}

.phoneImage{
	height:40px;
	margin:0 10px;
	z-index: 1;
}

.instructions{
	color:#f7f7f7;
	font-weight: bold;
	opacity:1;
}