@import 'styles/index.scss';

.interaction__button{
	cursor:pointer;
	padding:5px 10px;
	border: 2px solid $inverse;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	display: inline-flex;
	margin:0 15px 0 0; 
	.fill{
		margin:0;
		transition: all 0.15s ease-out;
		/* transform:translate(-50%,-50%); */
		position:absolute;
		top:50%;
		left:50%;
		height:0;
		width:0;
		background:$inverse;
	}
	p{
		z-index: 100;
		color:$inverse;
		-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	    -moz-user-select: none; /* mozilla browsers */
	    -khtml-user-select: none; /* webkit (konqueror) browsers */
	    -ms-user-select: none; /* IE10+ */
	}
	&.inactive{
		opacity:0.5;
		pointer-events: none;
	}
	&:hover{
		p{
			transition: all 0.15s ease-out 0.15s;
			color:$primary;
		}
		.fill{
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
	&.secondary{
		border: 2px solid $primary;
		p{
			color:$primary;
		}
		.fill{
			background:$primary;
		}
		&:hover{
			p{
				transition: all 0.15s ease-out 0.15s;
				color:$inverse;
			}
			
		}
	}
	

}