.questionContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex:1;
	
	.question{
		height:30%;
		padding:50px 60px 20px 60px;
		flex:1;
		align-items: center;
		justify-content: center;
		p{
			text-align: center;
			font-size:30px;
			font-weight: bold;
			color:#f7f7f7;
		}
	}
	.questionAnswer{
		display: flex;
		flex:1;
		p{
			font-size: 50px;
		}
		font-weight: bold;
		color:#f7f7f7;
		/* align-items: center; */
		justify-content: center;
		/* height:50%; */
	}
	.responsesContainerHost{
		display: flex;
		flex:1;
		/* align-items: center; */
		/* justify-content: center; */
	}
}