.homeContainer{
	position: absolute;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
}



.globalQRCode{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:200px;
	height:200px;
}