.mobile{
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	overflow: hidden;
	bottom:0;
	right:0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: flex;
	color:#f7f7f7;
	.buttonSetMobile{
		display: flex;
		flex-direction: row;
	}
	.buttonMobile{
		font-size: 30px;
		margin:15px;
		height:70px;
		min-width:70px;
		border: 3px solid #101010;
		align-items: center;
		display: flex;
		justify-content: center;
		color:#f7f7f7;
		text-align: center;
		img{
			width:20px;
			height:25px;
			&.play{
				margin-left:5px;
			}
		}
		p{
			margin-top:7px;
			line-height: 2;
			text-align: center;
			color:#f7f7f7;
			font-size: 30px;
		}
		&.warning{
			border: 3px solid #f7f7f7;
		}

	}
	.headerMobile{
		display: flex;
		flex:1;
		font-weight: bold;
		text-align: center;
		align-items: center;
		justify-content: center;
		font-size: 30px;
	}

	.gamePadContainer{
		flex:1;
		display: flex;
		flex:1;
		width:100%;
		padding:10px;
		box-sizing: border-box;
		.gamePad{
			padding:20px;
			display: flex;
			flex:1;
			flex-direction: column;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width:100%;
		}
		.playerResult{
			font-size: 30px;
		}
		
	}

	.info{
		background:rgba(0,0,0,0.1);

		position: relative;
		width:100%;
		display: flex;
		flex-direction: column;
		margin:0;
		text-align: center;
	}
	.instructionsMobile{
		// position: absolute;
		// top:10px;
		left:0;
		color:#f7f7f7;
		font-weight: bold;
		font-size: 30px;
		text-align: center;
		width:100%;
		margin:0 0 20px 0;
	}
	.speedTitle{
		padding-bottom: 20px;
		font-size:20px;
	}
	.levelIndicator{
		width:30px;
		height:4px;
		background:#333;
	}
	.speedIndicatorOuterContainer{
		display: flex;
		flex-direction: row;
		align-items:center;
		justify-content: center;
	}
	.speedIndicatorContainer{
		display: flex;
		flex:1;
		width:4px;

		.speedIndicator{
			display: flex;
			flex-direction: column;
			flex:1;
			width:4px;
			background:#333;
			// border-radius:2px;
			// background:white;

			.speedSection{
				width:100%;
				display: flex;
				flex:1;
				background:#green;
				&.isSelected{
					background:#f7f7f7;
				}
			}
		}
	}
	.pausePlay{
		/* position: absolute;
		top:0;
		left:0; */
	}
	.quit{
		/* position: absolute;
		top:0;
		right:0; */
	}
	.powerUpContainer{
		z-index: 1000000000;
		/* background:red; */
		width:100%;
		height:100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		p{
			width: 100%;
			text-align: center;
			font-size: 30px;
			font-weight: bold;
			color:#f7f7f7;
			margin-bottom:10px;
		}
		.powerUpImage{
			max-width:60%;
			max-height:45%;
		}

	}
	.speedContainer{
		// display: none;
		height:100%;
		display: flex;
		align-items:center;
		flex-direction: column;
		justify-content: center;
		flex:1;
		// background:#333;
		width:100%;
		overflow:hidden;
		.fontawesome{
			margin-bottom:-10px;
			&::after{
				font-size:30px;
				font-family: FontAwesome
			}
		}
		.chevronUp::after{
			content:"\f077";
		}
		.chevronDown::after{
			content:"\f078";
		}
		.equal::after{
			content:"\f00d";
		}
	}
	

	
}