#canvas{
	background:black;
	position: absolute;
	top:0;
	left:0;

}
.button{
	position: absolute;
	bottom:20px;
	left:50%;
	color:#a6a6a6;
	z-index: 1;

	transform: translateX(-50%);
}
.row{
	p{
		width:50px;
		text-align: center;
		display: inline-block;
		font-size: 70px!important;
		font-weight: bold;
	}
}
.scores{
	opacity:0.3;
	position: absolute;
	top:0px;
	left:50%;
	color:#f7f7f7;
	z-index: 1;
	transform: translateX(-50%);
}